.root{
    margin-left: 5%;
}
.recomendation{
    font-family: 'Manrope', Arial, sans-serif;
}
.product{
    border-radius: 16px;
    border: 2px black solid;
    width: 160px;
    height: 250px;
}
.product img{
    width: 160px;
    height: 160px;
    border-radius: 16px;
}
.products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between; width: 100%;
}