.count{
  font-family:sans-serif ;
color: black;
padding: 35px,20px;
display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column
  
}
body{
 background: linear-gradient(135deg, #89f7fe, #66a6ff);
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   margin: 0;
box-sizing: border-box;
padding: 40px;


   
  
  
}
.minus button{
  color: white;
  width: 60px;
  height: 50px;
  border-radius: 16px;
  background-color: #66a6ff;
  border-color: transparent;

}
.clicker-container{
border-radius: 16px;
    border: 2px transparent;
    width: 350px;
    height: 200px;
    padding: 40px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column
  
   
   
    
}
.minus :hover{
  background: #4a8be0;
  transform: scale(1.05);
  transition: 0.6s;
}

